.container {
  width: 40%;
  margin: auto;
}

h1 {
  font-family: "Poppins";
  font-size: 2em;
}

input {
  width: 100%;
  margin-top: 1.5em;
  height: 2.5em;
  font-family: "Poppins";
}

#title,
#author,
#isbn {
  padding-left: 1em;
}

#submit {
  width: 103%;
}

table {
  width: 100%;
  margin-top: 2em;
  font-family: "Poppins";
}

thead {
    text-align: left;
}

tr {
    margin: 2em;
   
    
}

td {
    padding-top: 1em;
    
}

.alert {
    width: 100%;
    padding: .5em 0 .5em 1em;
    font-family: "Poppins";
}

.error {
    background-color: red;
    color: white;
}

.success {
    background-color: green;
    color: white;
}

.mobile-alert {
    display: none;
}

@media (max-width: 776px) {
    .container {
        width: 90%;
    }
    #submit {
        width: 106%;
    }
}
